<!-- -*- xml -*- -->
<!--
  - launch the zed_operate launch file
  - future developing - change arguments / params depends on config
  -->

<launch>

  <!-- <arg name="robot" default="zion" /> -->

  <include file="$(find zion_zed_ros_interface)/launch/zed_operate.launch" />

  <group ns="$(arg robot)">
        <node name="recording_node" pkg="zion_zed_ros_interface" type="zed_recording.py" output="screen">
        </node>
  </group>

</launch>